<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body
    class="flex flex-col h-screen items-center bg-slate-800 text-zinc-50 gap-4"
  >
  <div class="flex justify-between w-full h-16 p-4 bg-slate-700 items-center">
    <a href="/" class="text-2xl font-bold self-start">
      Mini Message Board
    </a>
  </div>
  <form method="POST" action="/new" class="flex flex-col gap-4 bg-slate-700 rounded-lg p-8 text-lg">
    <label for="user">Username</label>
    <input type="text" name="user" id="user" class="bg-slate-800 rounded-md">
    <label for="message">Message</label>
    <textarea name="message" id="message" class="bg-slate-800 rounded-md"></textarea>
    <button type="submit" class="bg-slate-600 border border-slate-400 p-2 rounded-md" >Send</button>
  </form>
  





  </body>
</html>
