<div
      class="bg-zinc-500 rounded-lg bg-opacity-70 flex w-1/2 justify-between p-3 border border-zinc-300"
    >
      <h2 class="text-xl font-semibold"><%=message.username%></h2>
      <div class="flex justify-between items-center text-center gap-6 w-2/3">
        <p class="w-full text-right"><%=message.message%></p>
        <a href="/messages/<%=message.id%>" class="w-5 h-5 font-bold bg-zinc-400 rounded-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="22"
            height="22"
            fill="#f8fafc"
          >
            <rect x="10" y="4" width="2" height="14" />
            <rect x="4" y="10" width="14" height="2" />
          </svg>
        </a>
      </div>
    </div>